@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.body {
  font-family: "Source Sans Pro", sans-serif;
}

.primary-main {
  color: rgba(153, 108, 240, 1);
}

.herobtn {
  color: rgba(71, 71, 71, 1);
}

.choose-options {
  background-color: rgba(235, 226, 252, 1);
}

.primary-header {
  color: rgba(71, 71, 71, 1);
}

.primary-main-button {
  color: rgba(153, 108, 240, 1);
}

.primary-main-button:hover {
  font-weight: bold;
}

.primary-darker {
  color: rgba(92, 65, 144, 1);
}

.primary-white {
  color: white;
}

.primary-white:hover {
  color: rgba(153, 108, 240, 1);
}

.primary-black {
  color: black;
}
.primary-black:hover {
  color: white;
  background-color: rgba(153, 108, 240, 1);
}

.topnav {
  font-family: "Sora", sans-serif;
}

.header {
  background-image: url("../assets/img/topbg.png");
}

.topsectionright {
  background-image: url("../assets/img/rightbg1.png");
}

.footer-bg {
  background-color: rgba(18, 18, 32, 1);
}

/* .card1 {
  background-image: url("../assets/img/cards/card1.png");
} */
/* .card2 {
  background-image: url("../assets/img/cards/card2.png");
}
.card3 {
  background-image: url("../assets/img/cards/card3.png");
} */
