@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.body {
  width: 1440px;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
}

.topnav {
  font-family: "Sora", sans-serif;
}

.header {
  background-image: url("../assets/img/topbg.png");
  height: 778px;
}

.topsectionleft {
  font-size: 64px;
  font-weight: 900;
}

.topsectionright {
  background-image: url("../assets/img/rightbg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  width: 550px;
  height: 601px;
}

.toprightimg {
  width: 342px;
  height: 395px;
}

.btn-registration {
  background: rgba(194, 167, 246, 1);
}
